.home-container{
    display: grid;
    grid-template-areas: "sidebar card img";
    text-decoration: none;
}

.home-nav-container {
    display: grid;
    grid-template-areas: "link1"
                         "link2"
                         "link3"
                         "link4"
                         "link5"
                         "link6";
    grid-area: sidebar;
    padding: -50vw;
    text-decoration: none;
    background-color: black;
    
   
    
    
}
.home-link {
    text-decoration: none;
}
.home-nav {
    padding-top: 10vh;
    text-decoration: none;
}
.home-container-img {
    grid-area: link1;
    width: 10vw;
    border-radius: 50%;
    margin-top: 10vh;
   
margin-left: 1vw;
}
.home-submit-link{
   color: white;
   text-decoration: none;
}

.dummy-links{
 display: block;
 padding: 2vw;
 text-decoration: none;
 list-style-type: none;
 
    
}

.dummy-link1 {
    color: white;
    text-decoration: none;
    
    
    
}

.dummy-link2{

    color: white;
    text-decoration: none;
}

.dummy-link3{
    text-decoration: none;
    color: white;
}

.banner-img {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
}

.home-card-container {
    grid-area: card;

    margin: 1vh 5vw 1vh 5vw;
    padding: 3vw;
    display: grid;
    grid-template-areas: 
                         "img link7"
                         "img title";
    border: 1px solid black;
    border-radius: 25px;
    text-decoration: none;
}

.home-card-title {
grid-area: title;
text-decoration: none;
font-size: 5vw;
}

.home-card-image {
grid-area: img;
width: 20vw;

}

.home-card-name {
text-align: left;
padding-left: 7vw;
text-decoration: none;
color: black;
}
.home-card-audio {
grid-area: link7;
text-decoration: none;
}

.banner-img-container{
    grid-area: img;
}

