.nav{
    display: grid;
    grid-template-areas: "title search greet link";
    text-decoration: none;
    padding-top: 1vh;
}

.nav-title-container {
grid-area: title;
font-size: 1.5vw;
text-decoration: none;

}

.nav-title {
    text-decoration: none;
    color: black;

}

.nav-search-container {
grid-area: search;
display: flex;
align-items: center;


}
.nav-search{
    font-size: large;
    padding: 1vh 7vw;
    display: flex;
    align-items: center;
    
}

.nav-user-auth-links {


}

.nav-user-greet-area {
    grid-area: greet;
}

.nav-user-greet{
    font-size: 1.5vw;
    padding: 1vh ;
}

.nav-login {
    grid-area: link;
}

.nav-login-link{
    grid-area: link;
    font-size: 1.5vw;
    padding: 2vh;
}