.nav{
    display: grid;
    grid-template-areas: "title search greet link";
    text-decoration: none;
    padding-top: 1vh;
    background-color: black;
}

.nav-title-container {
grid-area: title;
font-size: 1.5vw;
text-decoration: none;


}

.nav-title {
    text-decoration: none;
    color: white;
    font-size: 3vw;

}

.nav-search-container {
grid-area: search;
display: flex;
align-items: center;


}
.nav-search{
    font-size: large;
    padding: 1vh 5vw;
    display: flex;
    align-items: center;
    
}

.nav-user-auth-links {


}

.nav-user-greet-area {
    grid-area: greet;
    color: white;
    
}

.nav-user-greet{
    font-size: 2vw;
    padding: 1.2vh ;
    
}

.nav-login {
    grid-area: link;
    
    color: white;
    font-size: 2.5vw;
    
    text-decoration: none;
}

.nav-login-link{
    grid-area: link;
    font-size: 2vw;
    
    color: white;
    text-decoration: none;
}

.login {
    text-decoration: none;
    color: white;
    
}
.login-text{
    
}